<!DOCTYPE html>
<html>
  <head>
    <title>IdeaFactory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div>
      <%= link_to  "Idea Factory", ideas_path %>
      <% if user_signed_in? %> 
      <%= link_to  "Sign Out", session_path, method: :delete %>
      <p>Hello <%= current_user.name.capitalize %> </p>
      <% else %>
      <%= link_to  "Create New User", new_user_path %>
      <%= link_to  "Sign In", new_session_path%>
      <% end %>  
      <%= link_to  "New Idea", new_idea_path %>
    </div>
    <br>
     <% flash.each do |type, message| %>
    <div class='bg-<%= type %> p-3 rounded mb-2 shadow-sm'>
        <%= message %>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
